@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    background-color: #273735;
    color: hsl(145, 49%, 82%);
    width: 768px;
    margin: 32px auto;
}
h1{
    font-weight: 300;
    margin-bottom: 24px;
}
#txt{
    font-size: 1.5rem;
}

nav{
    margin: 32px 24px;
}
    nav a{
        text-decoration: none;
        color: #fff;
        padding: 12px 32px;
        font-size: 20px;
    }
    nav button{
        background-color: #3a716b;
        color: hsl(145, 49%, 82%);
        border: none;
        border-radius: 8px;
        padding: 8px 48px;
        margin: 0px 8px;
        cursor: pointer;
    }
    nav button:hover{
        background-color: #4e9993;
        box-shadow: 0px 0px 12px #4e9993;
    }
#caja{
    background-color: #b2b2b2;
    width: 256px;
    height: 256px;
    border-radius: 12px;
    margin: 24px;
}

#contenedor{
    width: 500px;
    padding: 8px;
    margin: auto;
    background-color: hsl(173, 17%, 38%);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    #txt2{
        font-size: 2.2em;
    }
    #contenedor img{
        cursor: pointer;
    }